.homepage-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 10px;
  width: 100%;
  max-width: 1000px;
}

.home-page-email-container {
  width: 100%;
  color: white;
  margin-bottom: 20px;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contact-container span {
  margin: 0 10px;
}

.list {
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.list:hover {
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


.list-item-hover {
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.list-item-hover:hover {
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}